<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta name="robots" content="noindex, nofollow">
    <!-- Include CSS File Here -->
    <!-- Include CSS File Here -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <style>
        /* Below line is used for online Google font */

        @import url(http://fonts.googleapis.com/css?family=Droid+Serif);
        h2 {
            text-align: center;
            font-size: 24px;
        }

        hr {
            margin-bottom: 30px;
        }
        .clearfix{
            content: "";
            clear: both;
        }

        div.container {
            height: 200px;
            font-family: 'Droid Serif', serif;
            position: relative;
            clear: both;
            padding: 50px;
        }

        div.main {
            width: 80%;
            float: left;
            padding: 10px 55px 40px;
            background-color: rgba(187, 255, 184, 0.65);
            border: 15px solid white;
            box-shadow: 0 0 10px;
            border-radius: 2px;
            font-size: 13px;
        }

        input[type=text],
            [type=password] {
            width: 97.7%;
            height: 34px;
            padding-left: 5px;
            margin-bottom: 20px;
            margin-top: 8px;
            box-shadow: 0 0 5px #00F5FF;
            border: 2px solid #00F5FF;
            color: #4f4f4f;
            font-size: 16px;
        }

        label {
            color: #464646;
            text-shadow: 0 1px 0 #fff;
            font-size: 14px;
            font-weight: bold;
        }

        #login {
            width: 100%;
            background: linear-gradient(#22abe9 5%, #36caf0 100%);
            border: 1px solid #0F799E;
            font-size: 20px;
            margin-top: 15px;
            padding: 8px;
            font-weight: bold;
            cursor: pointer;
            color: white;
            text-shadow: 0px 1px 0px #13506D;
        }

        #login:hover {
            background: linear-gradient(#36caf0 5%, #22abe9 100%);
        }
        #Bearer {
            width: 100%;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="main">
        <form class="form" method="post" action="#">
            <h2>Login</h2>
            <label>Username :</label>
            <input type="text" name="username" id="username" value="lorenzod">
            <label>Password :</label>
            <input type="password" name="password" id="password" value="$fV1v!-_er">
            <input type="button" name="login" id="login" value="Login">
        </form>
    </div>
</div>
<div class="clearfix"></div>
<div class="container">
    <div class="main">
        <input  name="Bearer" id="Bearer" placeholder="Bearer">
    </div>
</div>
<div class="clearfix"></div>
<div class="container">
    <div class="main">
        <h2>Insert</h2>
        <button type="button" name="insert" id="insert" style="width: 100%;height: 40px;"></button>
    </div>
</div>
<div class="clearfix"></div>
<div class="container">
    <div class="main">
        <h2>Search</h2>
        <button type="button" name="search" id="search" style="width: 100%;height: 40px;"></button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $("#login").click(function(){
            var username = $("#username").val();
            var password = $("#password").val();
            // Checking for blank fields.
            if( username =='' || password ==''){
                $('input[type="text"],input[type="password"]').css("border","2px solid red");
                $('input[type="text"],input[type="password"]').css("box-shadow","0 0 3px red");
                alert("Please fill all fields...!!!!!!");
            }else {
                $.post("/login",{ username: username, password:password},
                    function(data) {
                        console.log(data.token);
                        $("#Bearer").val(data.token);
                    });
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#insert").click(function(){
            window.tokenString = $("#Bearer").val();
            $.ajax({
                type: "POST",
                url: "api/insert",
                dataType: 'json',
                data: {
                    username: 'damianop1',
                    firstName: 'Petrungaro1',
                    lastName: 'Damiano',
                    email: 'dp@qwentes.it',
                    password: '12SDff$%',
                    birthday: '1970-02-30'
                },
                success: function(data, status) {
                    console.log("The returned data", data);
                    alert(data.message);
                },
                beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + tokenString ); } //set tokenString before send
            });
        });
    });
</script>
<!--  firstName=XXX&lastName=YYYY&birthday=startDate|endDate -->
<script type="text/javascript">
    $(document).ready(function(){
        $("#search").click(function(){
            window.tokenString = $("#Bearer").val();
            $.ajax({
                type: "GET",
                url: "api/users",
                dataType: 'json',
                data: {
                    firstName: 'Lorenzo',
                    lastName: 'Damiano',
                    birthday: '2018-09-10|2018-09-25'
                },
                success: function(data, status) {
                    console.log("The returned data", data);
                    alert(data.message);
                },
                beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + tokenString ); } //set tokenString before send
            });
        });
    });
</script>
</body>
</html>

